header {
	padding: 30px 0 30px;
}
header h1 {
	margin-top: 10px;
}
header h1 a {
	color: #222;
	text-decoration: none;
}
header .contact {
	margin-top: 15px;
}
header .contact .phone {
	padding-right: 10px;
	border-right: 2px solid #4A1144;
}
header .contact a,
header .contact .phone,
header .contact .genericon {
	font-size: 22px;
	color: #4A1144;
}
header .navbar-nav li>a {
	padding: 20px 0;
}
#nav {
	background: linear-gradient(to bottom, #732b6b 0%,#45033e 100%);
}
#nav a {
	font-size: 20px;
	color: #FFF;
}
#nav a:hover {
	color: #CCC;
}
#nav .active a {
	background: linear-gradient(to bottom, #470540 0%,#45033e 100%);
}
h2.pageTitle {
	color: #4A1144;
	margin-top: 0; /* because it is under #nav, which has margin-bottom: 20px; */
	padding-bottom: 5px;
	border-bottom: 1px solid #AAA;
}
footer {
	margin-top: 20px;
	text-align: center;
	background-color: #202020;
	color: #FFF;
}
footer a,
footer a:hover,
footer a:active {
	color: #FFF;
}
footer .information {
	background-color: #4d1347;
	padding: 5px;
}
footer .information a,
footer .information .phone,
footer .information .address,
footer .information .social {
	display: block;
	padding: 20px;
	font-size: 20px;
}
footer .information .social a {
	padding: 5px;
	display: inline;
}
footer .information .social a:focus {
	text-decoration: none;
}
footer .information .social .genericon {
	font-size: 25px;
}
footer .copywright {
	padding-top: 10px;
	padding-bottom: 20px;
}
.genericon {
	text-decoration: none;
	margin-top: 2px;
}
.hide {
	display: none;
}
.errorField {
	border: 1px solid #801818;
}
.errorLabel {
	color: #801818;
}